.card {
  display: flex;
  text-align: center;
}
.card > article:hover {
  transform: scale(
    1.1
  ); /* Aumenta o tamanho em 20% quando o mouse está sobre o elemento */
  cursor: pointer;
}
.card > article {
  background-color: #f9f9f9;
  background-color:#f9f9f9;
  margin: 10px 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 250px;
  display: inline-block;
  text-align: center;
}

.card > article figure {
  margin-bottom: 8px;
}

.card > article figure img {
  border-radius: 10px;
  width: 90%;
  margin-top: 10px;
  aspect-ratio: 1 / 1;
}

h3 {
  margin: 5px;
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
}
.desconto {
  display: flex;
  align-items: flex-start;
  width: 30px;
  padding: 3px;
  margin: 10px auto 10px 9px;
  background-color: black;
  color: white;
  border-radius: 5px;
 
  font-size: small;

}
